.navbar{
    display: flex;
    align-items: row;
    justify-content: space-around;
    padding-top: 2rem;
    color: aliceblue;
}

.pages a{
    font-size: 16px;
}

.login a{
    font-size: 16px;
    margin-right: 1rem;
}

/* .login  {
    padding-right: 1rem;
    background-color: red;
} */

.navbar img{
    cursor: pointer;
}

.pages :hover{
    color: var(--primary-color);
}

mat-toolbar{
    background-color: transparent;
}