<div class="adotar">
    <div class="cards">

        <mat-card class="card" style="width: 54%; height: 360rem">

            <mat-card-content>

                <mat-card-title class="title" align="center">
                    <h1>Sobre o Projeto</h1>
                </mat-card-title>

                <p>
                    Olá, somos o MeawDota, uma aplicação web com a finalidade de adoção de animais, fomos criados em
                    2022 e além da adoção, o site possui outras opções as quais você pode divulgar seu animalzinho
                    perdidos, ou localizar informações sobre animais encontrados.
                </p>

                <div class="imagem">
                    <img mat-card-image src="assets\img-sobrenos\todomundo.jpg" style="width:48rem ; height:auto" />
                </div>

                <p>
                    O projeto Meawdota tem como finalidade facilitar a adoção de animais em situação de rua ou lares
                    temporários. Nosso site visa contribuir com a diminuição de casos de abandono de animais de
                    estimação, proporcionando a estes um lar permanente.
                </p>

            </mat-card-content>

            <mat-card-content>
                <mat-card-title class="title" align="center">
                    <h1>Nosso Time</h1>
                </mat-card-title>

                <p>
                    Para esse projeto ocorrer, precisamos montar uma grande equipe e nos organizar para o trabalho,
                    então nos separamos em quatro times, sendo eles: Back-End, Front-End, Banco de Dados e Documentação.
                </p>

                <p>
                    Abaixo farei uma breve apresentação dos integrantes de cada time, e as tecnologias que foram utilizadas.
                </p>


            </mat-card-content>

            <mat-card-content>
                <mat-card-title class="title" align="center">
                    <h2>Banco de Dados</h2>
                </mat-card-title>

                <div class="imagem">
                    <img mat-card-image src="assets\img-sobrenos\bancodedados.jpg" style="width:48rem ; height:auto" />
                </div>

                <p>
                    Foi usado PostgresSQL por se tratar de um banco de dados muito utilizado na atualidade e pela facilidade de utilização em Nuvem. Os integrantes desse grupo são: <b>Gustavo Ramos</b>, <b>Tarcísio Mendonça</b>, <b>Carlos Cavalcante</b>, <b>Carleson Kalebe</b>, <b>Asafe dos Reis</b> e <b>Stanley da Silva</b> .
                </p>

            </mat-card-content>

            <mat-card-content>
                <mat-card-title class="title" align="center">
                    <h2>Documentação</h2>
                </mat-card-title>

                <div class="imagem">
                    <img mat-card-image src="assets\img-sobrenos\doc.jpg" style="width:48rem ; height:auto" />
                </div>

                <p>
                    Existem
                </p>

            </mat-card-content>

            <mat-card-content>
                <mat-card-title class="title" align="center">
                    <h2>Back-End</h2>
                </mat-card-title>

                <div class="imagem">
                    <img mat-card-image src="assets\img-sobrenos\back.jpg" style="width:48rem ; height:auto" />
                </div>

                <p>
                    Já no Back-End foi utilizado o NodeJS (Node.js é um software de código aberto, multiplataforma, baseado no interpretador V8 do Google e que permite a execução de códigos JavaScript fora de um navegador web) para padronização de linguagem, porque tanto o Node quanto o Framework Angular, utilizam o JavaScript, mais especificamente o SuperSet TypeScript (uma linguagem de programação de código aberto desenvolvida pela Microsoft. É um superconjunto sintático estrito de JavaScript e adiciona tipagem estática opcional à linguagem). 
                </p>
                <p>
                    O grupo do Back-End é composto por ninguém menos que:  <b>Heluzio de Souza</b>,<b> João Gabriel</b>  e <b> Vinicius Pontes</b>.
                </p>

            </mat-card-content>

            <mat-card-content>
                <mat-card-title class="title" align="center">
                    <h2>Front-End</h2>
                </mat-card-title>

                <div class="imagem">
                    <img mat-card-image src="assets\img-sobrenos\euelia.png" style="width:48rem ; height:auto" />
                   </div>

                <p>
                    No Front-End o Framework Angular (plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript) foi utilizado pela sua Consistência e capacidade de reutilização de código, fácil aprendizado e o grande suporte do Google e entre outros. 
                </p>
                <p>
                    O grupo do Front-End é composto por apenas duas lendas: 
                </p>

                <h2 class="front" align="center"> <b>Analia Victória</b> </h2>

                <div class="imagem">
                    <img mat-card-image src="assets\img-sobrenos\lia.jpg" style="width:30rem ; height:auto" />
                </div>

                <br>

               <h2 class="front" align="center"> <b>Vinícius Gabriel </b> </h2>
               
               <div class="imagem">
                <img mat-card-image src="assets\img-sobrenos\eu.jpg" style="width:30rem ; height:auto" />
               </div>

            </mat-card-content>

        </mat-card>


    </div>

</div>